<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jobZilaRazor</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <h1>JobZila</h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Jobsearch">Job Search</a></li>
                <li><a href="/Joblisting">Job Listing</a></li>
                <li><a href="/Terms">Terms of service</a></li>
                <li><a href="/Privacy">Privacy Policy</a></li>
                <li><a href="/Bloglisting">Blog</a></li>
                <li><a href="/Contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <p>
            &copy; 2024 My Job Board. All rights reserved. |
            <a href="contact-us.html">Contact </a> |<a href="terms.html">Terms</a> |
            <a href="privacy.html">Privacy</a>
        </p>
    </footer>
    
    @* 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>